In [1614]:
import tensorflow as tf
import torch
import pandas as pd
import numpy as np

In [1615]:
features = pd.read_csv('data.csv')
yields = pd.read_csv('yields.csv')

In [1616]:
yields

    production
0      116.093
1      118.570
2      122.475
3      123.639
4      128.235
5      132.555
6      133.188
7      134.241
8      131.441
9      133.600
10     134.250

In [1617]:
features

,province,year,Jan - Temp,Feb - Temp,Mar - Temp,Apr - Temp,May - Temp,Jun - Temp,Jul - Temp,Aug - Temp,...,Mar - Wind,Apr - Wind,May - Wind,Jun - Wind,Jul - Wind,Aug - Wind,Sep - Wind,Oct - Wind,Nov - Wind,Dec - Wind
0,hebei,2010,-3.13,1.86,7.13,14.43,25.06,31.10,32.26,27.65,...,11.32,13.00,10.48,8.00,8.71,7.42,7.20,9.16,10.13,12.71
1,hebei,2011,-3.84,3.07,10.23,17.77,23.71,30.83,30.06,26.42,...,11.48,12.53,11.55,9.63,8.16,6.81,7.53,8.68,8.10,7.52
2,hebei,2012,-1.68,1.38,8.84,18.77,26.35,30.27,29.68,25.45,...,11.32,11.73,9.65,8.97,7.84,6.81,7.43,8.19,9.30,8.03
3,hebei,2013,-2.97,0.57,10.94,15.70,25.06,29.13,29.10,29.06,...,12.48,12.23,11.19,9.87,7.45,7.32,7.33,8.32,9.47,9.52
4,hebei,2014,1.71,2.36,13.13,19.87,26.87,29.87,31.29,28.65,...,9.97,10.43,13.06,8.60,9.26,7.16,7.27,7.90,9.20,10.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,sichuan,2016,3.58,7.00,11.84,17.47,20.10,24.57,25.84,27.10,...,5.74,5.37,5.52,6.03,5.52,5.06,4.90,4.58,5.13,5.58
106,sichuan,2017,5.55,6.93,9.84,16.70,20.87,23.27,27.81,25.84,...,5.65,5.77,6.00,5.40,5.52,4.65,4.27,3.65,4.40,5.16
107,sichuan,2018,4.35,7.07,16.23,19.20,21.45,23.90,25.32,26.87,...,4.48,5.03,5.39,4.50,4.58,5.13,4.13,4.19,4.27,4.81
108,sichuan,2019,2.35,5.36,12.29,20.27,20.06,24.10,23.94,25.32,...,4.77,5.37,4.52,4.57,4.39,4.55,3.90,3.68,3.97,3.48
109,sichuan,2020,5.71,9.14,14.90,16.10,22.97,25.07,24.68,24.29,...,4.74,4.77,5.52,4.83,4.61,4.39,3.60,3.84,3.80,4.03

In [1618]:

zero = features.loc[features['year'] == 2010].copy()
one = features.loc[features['year'] == 2011].copy()
two = features.loc[features['year'] == 2012].copy()
three = features.loc[features['year'] == 2013].copy()
four = features.loc[features['year'] == 2014].copy()
five = features.loc[features['year'] == 2015].copy()
six = features.loc[features['year'] == 2016].copy()
seven = features.loc[features['year'] == 2017].copy()
eight = features.loc[features['year'] == 2018].copy()
nine = features.loc[features['year'] == 2019].copy()
ten = features.loc[features['year'] == 2020].copy()



zero

,province,year,Jan - Temp,Feb - Temp,Mar - Temp,Apr - Temp,May - Temp,Jun - Temp,Jul - Temp,Aug - Temp,...,Mar - Wind,Apr - Wind,May - Wind,Jun - Wind,Jul - Wind,Aug - Wind,Sep - Wind,Oct - Wind,Nov - Wind,Dec - Wind
0,hebei,2010,-3.13,1.86,7.13,14.43,25.06,31.10,32.26,27.65,...,11.32,13.00,10.48,8.00,8.71,7.42,7.20,9.16,10.13,12.71
11,henan,2010,2.39,5.14,9.87,15.63,23.26,29.27,29.16,27.87,...,12.10,11.73,9.97,8.77,6.77,7.52,7.27,8.58,9.67,14.35
22,shandong,2010,-1.55,3.68,6.74,12.43,22.35,26.57,28.97,26.42,...,13.71,14.30,11.65,8.80,7.13,7.23,6.33,7.71,9.20,11.58
33,anhui,2010,5.87,7.96,10.42,14.23,21.87,24.93,28.23,30.35,...,10.90,8.47,6.71,6.73,6.74,5.58,6.40,6.87,6.37,9.26
44,jiangsu,2010,3.97,6.32,8.65,12.97,21.65,26.30,28.61,29.19,...,14.61,12.23,11.06,9.10,8.32,8.03,8.50,10.42,10.13,14.77
55,xinjiang,2010,-10.35,-13.21,-2.81,3.73,9.03,15.33,18.13,17.48,...,12.35,11.47,9.61,9.53,8.61,8.55,7.37,7.32,9.50,9.10
66,shaanxi,2010,0.10,3.86,8.03,12.70,19.19,23.73,25.97,23.13,...,11.55,10.77,8.87,8.20,8.06,6.29,7.00,6.29,8.23,11.74
77,hubei,2010,5.68,7.82,11.81,16.43,21.87,26.07,28.48,28.71,...,13.39,10.50,8.81,7.37,6.42,8.81,8.67,9.35,8.43,10.74
88,gansu,2010,-3.19,1.32,4.87,10.27,16.23,20.17,23.39,22.16,...,11.00,10.17,9.68,8.90,8.84,7.84,6.60,6.13,5.30,6.81
99,sichuan,2010,4.45,12.75,9.13,12.17,16.84,19.37,24.48,25.45,...,7.00,7.13,5.90,5.43,6.48,5.55,5.03,4.68,4.93,5.90

In [1619]:
yields

    production
0      116.093
1      118.570
2      122.475
3      123.639
4      128.235
5      132.555
6      133.188
7      134.241
8      131.441
9      133.600
10     134.250

In [1620]:
province_dfs = [zero, one, two, three, four, five, six, seven, eight, nine, ten]  # Replace ... with the dataframes for the other provinces

# Combine the dataframes into a single dataframe
combined_df = pd.concat(province_dfs)
combined_df = combined_df.reset_index(drop=True)

combined_df

,province,year,Jan - Temp,Feb - Temp,Mar - Temp,Apr - Temp,May - Temp,Jun - Temp,Jul - Temp,Aug - Temp,...,Mar - Wind,Apr - Wind,May - Wind,Jun - Wind,Jul - Wind,Aug - Wind,Sep - Wind,Oct - Wind,Nov - Wind,Dec - Wind
0,hebei,2010,-3.13,1.86,7.13,14.43,25.06,31.10,32.26,27.65,...,11.32,13.00,10.48,8.00,8.71,7.42,7.20,9.16,10.13,12.71
1,henan,2010,2.39,5.14,9.87,15.63,23.26,29.27,29.16,27.87,...,12.10,11.73,9.97,8.77,6.77,7.52,7.27,8.58,9.67,14.35
2,shandong,2010,-1.55,3.68,6.74,12.43,22.35,26.57,28.97,26.42,...,13.71,14.30,11.65,8.80,7.13,7.23,6.33,7.71,9.20,11.58
3,anhui,2010,5.87,7.96,10.42,14.23,21.87,24.93,28.23,30.35,...,10.90,8.47,6.71,6.73,6.74,5.58,6.40,6.87,6.37,9.26
4,jiangsu,2010,3.97,6.32,8.65,12.97,21.65,26.30,28.61,29.19,...,14.61,12.23,11.06,9.10,8.32,8.03,8.50,10.42,10.13,14.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,xinjiang,2020,-9.35,-6.00,0.39,9.67,14.68,16.67,18.97,18.61,...,7.32,6.47,8.42,9.93,8.77,8.39,7.83,5.58,3.83,6.00
106,shaanxi,2020,0.06,4.72,10.03,14.47,21.48,23.23,23.55,22.77,...,11.42,10.47,11.06,8.57,8.65,8.19,7.70,7.97,8.37,6.35
107,hubei,2020,6.65,11.17,15.13,18.60,25.61,26.80,25.13,29.13,...,11.26,11.57,10.42,9.60,8.81,10.68,8.27,10.65,11.33,10.55
108,gansu,2020,-1.16,3.14,8.16,13.43,19.65,23.63,24.23,23.48,...,7.81,8.40,9.81,8.77,8.39,7.71,7.77,6.77,4.93,3.81
109,sichuan,2020,5.71,9.14,14.90,16.10,22.97,25.07,24.68,24.29,...,4.74,4.77,5.52,4.83,4.61,4.39,3.60,3.84,3.80,4.03

In [1621]:
# Group the data by year and sum the values for each column
summed_data = features.groupby('year').sum()

# Reset the index to make the 'year' column a regular column
summed_data = summed_data.reset_index()

summed_data = summed_data.iloc[:, :13] 

summed_data = summed_data.drop(summed_data.columns[0], axis=1)

summed_data

/var/folders/zq/hj7ypvyn4hz_606vyrf7sm2h0000gn/T/ipykernel_48148/1703277228.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  summed_data = features.groupby('year').sum()

,Jan - Temp,Feb - Temp,Mar - Temp,Apr - Temp,May - Temp,Jun - Temp,Jul - Temp,Aug - Temp,Sep - Temp,Oct - Temp,Nov - Temp,Dec - Temp
0,4.24,37.50,73.84,124.99,197.35,242.84,267.68,258.41,209.77,147.03,90.30,19.86
1,-41.36,34.60,77.01,165.17,206.65,253.83,264.41,246.16,191.32,149.71,94.25,5.68
2,-14.70,7.41,78.05,167.90,217.00,254.70,266.26,248.24,200.71,158.64,66.63,-5.25
3,-3.90,30.19,114.25,155.59,213.78,251.51,271.37,275.16,210.53,163.27,80.73,17.12
4,24.64,14.14,104.57,159.70,215.74,248.71,269.23,243.49,204.47,162.96,81.46,10.03
5,19.62,40.76,98.93,150.28,211.93,243.08,264.37,255.61,206.61,163.00,74.54,22.88
6,-8.63,35.92,105.43,168.83,198.27,250.87,268.25,262.10,220.52,147.33,75.60,37.22
7,15.10,43.73,83.55,161.04,220.45,244.80,283.22,258.29,217.46,141.73,91.14,33.60
8,-8.57,32.25,120.97,170.13,214.12,260.19,274.84,269.76,210.50,155.74,86.89,12.31
9,15.27,32.80,113.75,173.61,219.48,259.16,273.72,259.88,223.98,165.26,102.34,44.63
10,24.35,61.97,114.03,157.80,230.39,257.36,251.14,258.54,213.71,147.26,96.02,15.15

In [1622]:
summed_data

,Jan - Temp,Feb - Temp,Mar - Temp,Apr - Temp,May - Temp,Jun - Temp,Jul - Temp,Aug - Temp,Sep - Temp,Oct - Temp,Nov - Temp,Dec - Temp
0,4.24,37.50,73.84,124.99,197.35,242.84,267.68,258.41,209.77,147.03,90.30,19.86
1,-41.36,34.60,77.01,165.17,206.65,253.83,264.41,246.16,191.32,149.71,94.25,5.68
2,-14.70,7.41,78.05,167.90,217.00,254.70,266.26,248.24,200.71,158.64,66.63,-5.25
3,-3.90,30.19,114.25,155.59,213.78,251.51,271.37,275.16,210.53,163.27,80.73,17.12
4,24.64,14.14,104.57,159.70,215.74,248.71,269.23,243.49,204.47,162.96,81.46,10.03
5,19.62,40.76,98.93,150.28,211.93,243.08,264.37,255.61,206.61,163.00,74.54,22.88
6,-8.63,35.92,105.43,168.83,198.27,250.87,268.25,262.10,220.52,147.33,75.60,37.22
7,15.10,43.73,83.55,161.04,220.45,244.80,283.22,258.29,217.46,141.73,91.14,33.60
8,-8.57,32.25,120.97,170.13,214.12,260.19,274.84,269.76,210.50,155.74,86.89,12.31
9,15.27,32.80,113.75,173.61,219.48,259.16,273.72,259.88,223.98,165.26,102.34,44.63
10,24.35,61.97,114.03,157.80,230.39,257.36,251.14,258.54,213.71,147.26,96.02,15.15

In [1623]:
from sklearn.model_selection import train_test_split

# Splitting features and target variables
X_train, X_test, y_train, y_test = train_test_split(summed_data, yields, test_size=0.2, random_state=42)

In [1624]:
from torch.utils.data import DataLoader, TensorDataset

# Convert data to tensors
X_train_tensor = torch.Tensor(X_train.values)
y_train_tensor = torch.Tensor(y_train.values)
X_test_tensor = torch.Tensor(X_test.values)
y_test_tensor = torch.Tensor(y_test.values)

# Create TensorDatasets
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)

# Define batch size for data loaders
batch_size = 64

# Create data loaders
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

In [1625]:
import torch.nn as nn

class NeuralNetwork(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(NeuralNetwork, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        x = self.fc1(x)
        x = self.relu(x)
        x = self.fc2(x)
        return x  # Output only the first column

# Define the model architecture
input_size = len(summed_data.loc[0])  # Number of input features
hidden_size = 64  # Number of neurons in the hidden layer
output_size = 1  # Number of output neurons (predicting a single value)

model = NeuralNetwork(input_size, hidden_size, output_size)

In [1626]:
from sklearn.metrics import mean_absolute_error


device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

# Initialize variables to store predictions and ground truth labels
predictions = []
labels = []

# Iterate over the test DataLoader
for inputs, targets in test_loader:
    # Move inputs and targets to the device (e.g., GPU)
    inputs = inputs.to(device)
    targets = targets.to(device)
    
    # Forward pass
    outputs = model(inputs)
    
    # Convert outputs and targets to numpy arrays
    outputs = outputs.detach().cpu().numpy()
    targets = targets.detach().cpu().numpy()
    
    # Append predicted values and ground truth values to lists
    predictions.extend(outputs[:, 0].tolist())  # Select the first column from the outputs
    labels.extend(targets[:, 0].tolist())  # Select the second column from the targets

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(labels, predictions)

# Print the MAE
print("Mean Absolute Error (MAE):", mae)

print("Labels:", labels)
print("Predictions:", predictions)

Mean Absolute Error (MAE): 155.9313481648763
Labels: [132.55499267578125, 116.09300231933594, 133.60000610351562]
Predictions: [-26.320199966430664, -28.230831146240234, -30.995012283325195]